.logo-card {
    padding: 15px;
    @include min(576) {
        padding: 20px 30px;
    }
    &__image {
        height: 60px;
        max-width: 150px;
        @include min(576) {
            height: 50px;
            max-width: 200px;
        }
        img {
            object-fit: contain;
            height: 100%;
        }
    }
}
