.side-head-slider {
    &__card {
        background-color: #212121;
        border-radius: 12px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        .product-image {
            @include aspectRatio(300, 510);
        }
        .product-details {
            color: #fff;
            padding: 20px;
            flex: 1;
            display: flex;
            flex-direction: column;
            .btn {
                margin-top: auto;
            }
        }
    }
    &__head {
        color: #fff;
    }
    &__slider {
        .swiper-slide {
            height: auto;
        }
        &--wrap {
            position: relative;
            .swiper-button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #dedede;
                &::after {
                    content: "";
                    background-color: transparent;
                    border-top: 2px solid #000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform-origin: center;
                    width: 10px;
                    height: 10px;
                }
                &-prev {
                    left: 1%;
                    &::after {
                        border-left: 2px solid #000;
                        transform: translate(-30%, -50%) rotate(-45deg);
                    }
                }
                &-next {
                    right: 1%;
                    &::after {
                        border-right: 2px solid #000;
                        transform: translate(-70%, -50%) rotate(45deg);
                    }
                }
            }
        }
    }
}
